<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lxkn.mobilneprojekt">
    <uses-permission android:name="android.permission.INTERNET" />
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Terminarz" />
        <activity
            android:name=".Rozklad"
            android:launchMode="singleTop" />
        <activity
            android:name=".Rozklad_info"
            android:parentActivityName=".Rozklad">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Rozklad" />
        </activity>
        <activity android:name=".Wyniki" />
        <activity android:name=".Tabela" />
        <activity android:name=".Tabela_info"></activity>
    </application>

</manifest>